.accordion {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 40px;
  justify-content: space-between;
  padding: 20px 15px;

  grid-template-rows: min-content 0fr;
  align-items: center;
  border: 2px solid #316dc2;
  border-radius: 14px;

  transition: grid-template-rows 300ms;

  @media ($tablet-breakpoint) {
    border-radius: 16px;
    padding: 30px;
  }

  // !!!!
  &:active {
    grid-template-rows: min-content 1fr;

    &:not(.accordion--checked) p {
      display: block;
    }
  }
}

.accordion h3 {
  position: relative;
  top: 1px;

  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 112%;

  @media ($tablet-breakpoint) {
    padding-right: 30px;
    font-size: 22px;
    line-height: 118%;
  }
}

.accordion br {
  display: none;

  @media (width = 768px) {
    display: inline;
  }
}

.accordion p {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  grid-column: 1/-1;

  font-size: 14px;
  line-height: 143%;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 125%;
  }

  @media ($desktop-breakpoint) {
    line-height: 162%;
  }
}

.accordion:not(.accordion--checked) p {
  display: none;
}

.accordion--checked {
  background-color: $base-secondary;
}

.accordion--checked h3 {
  color: $base-white;
}

.accordion--checked p {
  color: $primary-lighter;
}

.accordion__button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $base-secondary;

  @media ($tablet-breakpoint) {
    align-self: start;
  }

  border: none;
  cursor: pointer;


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    background-color: $base-white;

    transform: translateX(-50%) translateY(-50%);
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
  }
}
