.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 50px 15px;

  @media ($tablet-breakpoint) {
    padding: 50px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px 206px;
  }
}

.faq__accordion-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  // width: 100%;

  list-style: none;

  color: $base-secondary;
}


.faq__title {
  overflow: hidden;
}
