.grant {
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;


  color: $base-white;
  background-color: $base-secondary;

  @media ($tablet-breakpoint) {
    padding: 100px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 120px 100px;
  }
}

.grant__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.grant__container picture {
  margin-top: 15px;
}

.grant__container p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 143%;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 125%;
  }

  @media ($desktop-breakpoint) {
    line-height: 162%;
  }
}

.grant__title {
  color: inherit;
}

.grant__img {
  border-radius: 16px;
  background-color: #a9a9a9;
}

.grant__list-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.grant__subtitle {
  margin: 0;
  padding: 10px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 122%;

  color: inherit;

  @media ($tablet-breakpoint) {
    font-size: 28px;
    line-height: 100%;
  }

  @media ($desktop-breakpoint) {
    font-size: 32px;
    line-height: 112%;
  }
}


.grant__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  counter-reset: list-counter;
  list-style: none;

  font-size: 14px;
  line-height: 143%;

  background-color: $base-secondary;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 125%;
  }

  @media ($desktop-breakpoint) {
    line-height: 162%;
  }
}

.grant__item {
  margin-left: 15px;
  position: relative;
  box-sizing: border-box;
  padding: 24px 25px;

  counter-increment: list-counter;

  border-radius: 16px;
  border: 1px solid #f0efe9;

  background-color: inherit;

  &::before {
    content: counter(list-counter) " ";
    position: absolute;
    left: -16px;
    top: -5px;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;

    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;

    background-color: inherit;
  }
}
