.news {
  position: relative;
  padding: 50px 15px;
  color: $base-secondary;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    // !!!!
    padding: 50px 45px 112px;
    row-gap: 30px;
  }

  @media ($desktop-breakpoint) {
    // padding: 60px 100px 132px;
    align-self: center;
    width: 1240px;
    padding: 0;
    row-gap: 40px;
  }
}

.news__title {
  align-self: center;
}

.news__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media ($tablet-breakpoint) {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.news__links-swiper {
  width: 100%;

  // & li {
  //   width: min-content;

  //   // flex-shrink: 1;
  // }

  @media ($tablet-breakpoint) {
    align-self: center;
    width: unset;
  }
}

.news__navigation-list .news__navigation-item {
  width: min-content;
}


.news__navigation-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  width: min-content;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  text-align: center;
  color: inherit;
  text-decoration: none;

  border-radius: 20px;

  opacity: 0.6;

  @media ($tablet-breakpoint) {
    padding: 16px 20px;

    font-size: 14px;
    line-height: 100%;
  }

  &--current {
    min-width: 75px;
    padding: 10px 14px;
    border: 2px solid $base-secondary;
    opacity: 1;

    @media ($tablet-breakpoint) {
      padding: 14px 20px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    background-color: $base-white;
    opacity: 1;
  }
}

.news__swiper-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__swiper-button.swiper-button-prev {
  order: -1;
}

.news__swiper-button.swiper-button-next {
  order: 1;
}

.news__list.swiper-wrapper {
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 5px;

  // display: grid;
  // grid-template-columns: min-content;
  // grid-template-rows: repeat(2, min-content);
  // flex-direction: column;
  // flex-wrap: wrap;

  // height: 660px;

  // // align-items: start;
  // // justify-content: start;
  // // height: 590px;
  // justify-content: space-between;

  // column-gap: 15px;

  // row-gap: 20px;

  @media ($tablet-breakpoint) {
    gap: 0;
  }
}

.news__swiper .swiper-slide {
  @media ($desktop-breakpoint) {
    transition: width 1000ms;
  }
}

.news__swiper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 290px;

  @media ($tablet-breakpoint) {
    width: 678px;
    overflow: hidden;
    gap: 30px;
  }

  @media ($desktop-breakpoint) {
    // width: min-content;

    width: 922px;

    // width: 982px;

    overflow: visible;

    // gap: 30px;
  }
}

.news__pagination {
  display: flex;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;

  // padding: 0 69px;
}

.news__pagination .swiper-pagination-bullet {
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  color: $base-secondary;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;


  &:hover,
  &:focus-visible {
    border: 2px solid $base-secondary;
    width: 26px;
    height: 26px;
    opacity: 1;

    @media ($tablet-breakpoint) {
      width: 32px;
      height: 32px;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $base-white;
  }

  &:active {
    background-color: $base-secondary;
    opacity: 1;
    color: $base-white;
  }

  &:disabled {
    color: #a9afb7;
    pointer-events: none;
  }

  @media ($tablet-breakpoint) {
    width: 32px;
    height: 32px;

    font-size: 16px;
    line-height: 125%;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  background-color: $base-secondary;
  color: $base-white;
  opacity: 1;

  pointer-events: none;
}

// .news__list-item {
//   @media (width < $tablet) {
//     &:nth-child(1) {
//       order: 1;
//     }

//     &:nth-child(2) {
//       order: 2;
//     }

//     &:nth-child(3) {
//       order: 3;
//     }

//     &:nth-child(4) {
//       order: 4;
//     }
//   }
// }

