.news {
  position: relative;

  padding: 50px 15px 10px;
  color: $base-secondary;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    --padding-size: 45px;

    padding: 50px var(--padding-size) 112px;
    align-self: center;

    row-gap: 30px;


    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: var(--padding-size);
      background-color: $primary-lighter;
      z-index: 2;
    }

    &::after {
      left: unset;
      right: 0;
    }
  }


  @media ($desktop-breakpoint) {
    --padding-size: 100px;

    padding: 60px var(--padding-size) 132px;

    width: 1240px;

    row-gap: 40px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: var(--padding-size);
      background-color: $primary-lighter;
      z-index: 2;
    }

    &::after {
      left: unset;
      right: 0;
    }
  }
}

.news__title {
  align-self: center;
}

.news__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media ($tablet-breakpoint) {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.news__links-swiper {
  width: 100%;

  @media ($tablet-breakpoint) {
    width: unset;
    align-self: center;
  }
}

.news__navigation-list .news__navigation-item {
  width: min-content;
}


.news__navigation-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  width: min-content;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  text-align: center;
  color: inherit;
  text-decoration: none;

  border-radius: 20px;

  opacity: 0.6;

  @media ($tablet-breakpoint) {
    padding: 16px 20px;

    font-size: 14px;
    line-height: 100%;
  }

  @media ($desktop-breakpoint) {
    padding: 14px 33px;
  }

  &--current {
    min-width: 75px;
    padding: 10px 14px;

    border: 2px solid $base-secondary;

    opacity: 1;

    @media ($tablet-breakpoint) {
      padding: 14px 20px;
    }

    @media ($desktop-breakpoint) {
      padding: 14px 33px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    background-color: $base-white;
    opacity: 1;
  }
}

.news__swiper-buttons-container {
  position: absolute;
  left: 15px;
  bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  width: calc(100% - 30px);

  @media ($tablet-breakpoint) {
    left: 45px;

    width: calc(100% - 90px);
    bottom: 50px;
  }

  @media ($desktop-breakpoint) {
    left: 100px;

    width: calc(100% - 200px);
    bottom: 60px;
  }
}

.news__list.swiper-wrapper {
  padding: 0;
  margin: 0;
  row-gap: 2px;

  list-style: none;

  @media ($tablet-breakpoint) {
    gap: 0;
  }
}

.news__swiper .swiper-slide {
  @media ($desktop-breakpoint) {
    transition: width 300ms ease-in;
  }
}

.news__swiper {
  display: flex;

  align-self: center;
  flex-direction: column;
  width: 290px;
  height: 680px;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    align-self: flex-start;
    height: unset;
    width: 678px;
    gap: 30px;

    overflow: visible;
  }

  @media ($desktop-breakpoint) {
    align-self: flex-start;
    width: 286px;

    overflow: visible;
  }
}

.news__pagination {
  display: flex;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;

  @media ($tablet-breakpoint) {
    gap: 20px;
  }
}


.news__pagination .swiper-pagination-bullet {
  width: 26px;
  height: 26px;

  display: none;
  align-items: center;
  justify-content: center;

  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  color: $base-secondary;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    width: 26px;
    height: 26px;
    opacity: 1;

    border: 2px solid $base-secondary;

    @media ($tablet-breakpoint) {
      width: 32px;
      height: 32px;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $base-white;
  }

  &:active {
    background-color: $base-secondary;
    opacity: 1;
    color: $base-white;
  }

  &:disabled {
    color: #a9afb7;
    pointer-events: none;
  }

  @media ($tablet-breakpoint) {
    width: 32px;
    height: 32px;

    font-size: 16px;
    line-height: 125%;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  background-color: $base-secondary;
  color: $base-white;

  opacity: 1;
  pointer-events: none;
}
