.news-card {
  box-sizing: border-box;
  position: relative;
  width: 290px;
  transition: width 1000ms;
  overflow: hidden;

  @media ($tablet-breakpoint) {
    width: 324px;
  }

  @media ($desktop-breakpoint) {
    width: 100%;

    // &--big-card {
    // }
  }
}

.news-card__container {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 263px;

  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: width 1000ms;

  @media ($tablet-breakpoint) {
    width: 240px;
  }

  @media ($desktop-breakpoint) {
    width: 244px;

    // padding-right: 42px;

    // min-width: 244px;

    // width: max-content;
  }
}

// .news-card__container > * {
//   position: relative;
//   top: 1px;
// }

.news-card--big-card .news-card__container {
  // padding-right: 136px;

  @media ($desktop-breakpoint) {
    width: 468px;
  }
}

.news-card--big-card h3 {
  @media ($desktop-breakpoint) {
    padding: 18px 18px 6px 0;
    width: 426px;
  }
}

.news-card__date {
  position: relative;
  border-radius: 0 12px 0 0;
  padding: 13px 12px 5px 0;

  width: min-content;

  // min-width: none;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  background-color: $primary-lighter;


  &::before {
    @include reverse-border-radius(16px,0);

    bottom: unset;
    right: unset;

    top: 0;
    left: 0;
    transform: translateY(-16px);
    background-image: url("/__spritemap#sprite-angle-news-view");
  }

  &::after {
    @include reverse-border-radius(16px,0);

    top: unset;
    bottom: 0;
    background-image: url("/__spritemap#sprite-angle-news-view");
  }
}

.news-card__title {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 11px 18px 3px 0;

  width: 200px;

  font-weight: 400;
  font-size: 16px;
  line-height: 112%;

  border-radius: 0 12px 0 0;
  background-color: $primary-lighter;
  transition: width 1000ms;

  &::after {
    @include reverse-border-radius(16px,0);

    top: unset;
    bottom: 0;

    background-image: url("/__spritemap#sprite-angle-news-view");
  }


  @media ($tablet-breakpoint) {
    position: relative;

    // top: 1px;
    font-size: 20px;
    line-height: 120%;
    width: 207px;

    padding: 10px 18px 6px 0;
  }

  @media ($desktop-breakpoint) {
    padding: 10px 18px 4px 0;
    font-size: 24px;
    line-height: 108%;

    // width: max-content;

    // width: 190px;
  }
}

.news-card p {
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 117%;

  color: $base-primary;


  @media ($tablet-breakpoint) {
    // position: unset;
    top: 0;

    font-size: 14px;
    line-height: 143%;
  }

  @media ($desktop-breakpoint) {
    line-height: 129%;
  }
}

.news-card__link-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 10px 10px 0;
  gap: 10px;

  // width: 263px;

  border-radius: 0 12px 0 0;
  background-color: $primary-lighter;

  justify-self: start;

  &::after {
    @include reverse-border-radius(16px,0);

    top: unset;
    bottom: 0;

    background-image: url("/__spritemap#sprite-angle-news-view");
  }

  @media ($tablet-breakpoint) {
    padding: 12px 18px 15px 0;
    gap: 16px;

    justify-content: space-between;

    // width: 240px;
  }
}

.news-card__img {
  border-radius: 12px;
  background-color: #add8e6;
  object-fit: contain; /* или contain, в зависимости от потребностей */

  @media ($desktop-breakpoint) {
    width: 100%;

    // height: 100%;
    object-fit: cover; /* или contain, в зависимости от потребностей */
    display: block;
  }
}
