// breakpoints
$tablet-breakpoint: "min-width: 768px";
$desktop-breakpoint: "min-width: 1440px";

// width
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

// fonts
$font-primary: "Manrope", "Arial", sans-serif;

// colors
$base-primary: #484848;
$base-white: #ffffff;
$base-secondary: #316dc2;
$disabled-color: #a9afb7;
$primary-lighter: #f0efe9;
