.reviews-card {
  color: $base-secondary;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  row-gap: 15px;


  border: 2px solid #316dc2;
  border-radius: 16px;

  @media ($tablet-breakpoint) {
    padding: 50px;

    width: 560px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 25px;
    column-gap: 15px;
  }
}

.reviews-card__figure {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
  align-items: center;

  @media ($tablet-breakpoint) {
    column-gap: 15px;
  }
}

.reviews-card__figcaption {
  margin: 0;
  padding: 0;
  width: min-content;

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;

  @media ($tablet-breakpoint) {
    font-size: 20px;
    line-height: 120%;
  }

  @media ($desktop-breakpoint) {
    font-size: 18px;
    line-height: 133%;
  }
}

.reviews-card__details {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  row-gap: 8px;
  column-gap: 10px;

  @media ($tablet-breakpoint) {
    grid-template-columns: repeat(2, auto);

    row-gap: 11px;

    column-gap: 25px;
    width: 229px;
  }
}

.reviews-card__details-title {
  grid-row: 1/2;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.reviews-card__details-description {
  margin: 0;
  font-size: 12px;
  line-height: 117%;

  color: $base-primary;

  @media ($tablet-breakpoint) {
    font-size: 14px;
    line-height: 143%;
  }

  @media ($desktop-breakpoint) {
    font-size: 14px;
    line-height: 129%;
  }
}

.reviews-card blockquote {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 112%;

  @media ($tablet-breakpoint) {
    font-size: 20px;
    line-height: 120%;
  }

  @media ($desktop-breakpoint) {
    font-size: 24px;
    line-height: 108%;
  }

  &:first-of-type {
    margin-top: 10px;

    @media ($tablet-breakpoint) {
      margin-top: 5px;
    }
  }

  &:not(:first-of-type) {
    margin-top: 5px;

    @media ($tablet-breakpoint) {
      margin-top: 0;
    }
  }
}

.reviews-card blockquote + blockquote {
  font-size: 14px;
  line-height: 143%;

  color: $base-primary;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 125%;
  }

  @media ($desktop-breakpoint) {
    font-size: 16px;
    line-height: 162%;
  }
}
