.reviews {
  padding: 50px 15px;

  @media ($tablet-breakpoint) {
    padding: 50px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px 100px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
