.navigation {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 0fr;

  width: 100%;
  gap: 4px;
  overflow: hidden;

  transition: grid-template-rows 500ms;
  z-index: 3;

  &--open {
    grid-template-rows: min-content 1fr;
  }

  @media ($tablet-breakpoint) {
    width: unset;
    margin-left: auto;
  }
}

.navigation__list {
  box-sizing: border-box;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  gap: 28px;


  color: $base-white;
  background-color: $base-secondary;
  border-radius: 16px;
  overflow: hidden;

  list-style: none;

  opacity: 0;

  transition: opacity 500ms, padding 900ms;

  @media ($tablet-breakpoint) {
    width: min-content;
    padding-right: 137px;
  }
}

.navigation__list--open {
  padding: 35px 25px;
  opacity: 1;

  @media ($tablet-breakpoint) {
    padding-right: 137px;
  }
}

.navigation__dropdown-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 16px;

  row-gap: 16px;

  list-style: none;

  overflow: hidden;
  visibility: hidden;
  opacity: 0;

  &--open {
    transition: opacity 500ms;
    opacity: 1;
    visibility: visible;
  }
}

.navigation__link {
  margin: 0;
  padding: 0;
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;

  color: inherit;

  opacity: 0.7;

  &:focus-visible,
  &:hover {
    outline: none;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  &--current {
    opacity: 1;
  }
}

.navigation__link[type="button"] {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  font-family: $font-primary;
  column-gap: 10px;

  align-items: center;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    background-size: 100%;
    background-image: url("/__spritemap#sprite-dropdown-arrow-view");

    transition: transform 300ms;
  }

  &:hover {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

.navigation__item--dropdown {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 0fr;

  row-gap: 0;

  transition: gap 300ms, grid-template-rows 600ms;
}

.navigation__item--dropdown-open {
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}

.navigation__item--dropdown-open button::after {
  transform: rotate(-180deg);
}

.navigation__dropdown-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;


  color: inherit;

  opacity: 0.6;
  text-decoration: none;

  &:focus-visible,
  &:hover {
    outline: none;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  &--current {
    opacity: 1;
  }
}

.navigation__button .button__description {
  font-size: 14px;
}

.navigation__button .button__wrapper {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}


.navigation__button {
  box-sizing: border-box;
  padding: 3px 4px 3px 20px;
  gap: unset;
  justify-self: end;
  justify-content: space-between;

  width: 134px;

  background-color: $base-white;

  @media ($tablet-breakpoint) {
    padding: 4px 4px 4px 20px;
  }

  &:hover {
    transition: width 300ms;
    width: 100%;

    .button__wrapper {
      color: $base-secondary;
      transform: rotate(0);
    }
  }

  &:focus-visible .button__wrapper {
    transform: rotate(0);
    opacity: 0.9;
  }


  &:active .button__wrapper {
    transform: rotate(-225deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;

      background-color: $base-secondary;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before {
      width: 18px;
      height: 1px;
    }

    &::after {
      width: 1px;
      height: 18px;
    }
  }

  &:active svg {
    display: none;
  }
}

.navigation__button--active {
  width: 100%;
  background-color: $base-secondary;
  color: $base-white;

  &:focus,
  &:hover {
    .button__wrapper {
      transform: rotate(-135deg);
    }
  }
}

.navigation__button--active .button__wrapper {
  transform: rotate(-225deg);
  color: $base-secondary;
  background-color: $base-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $base-secondary;
    transform: translateX(-50%) translateY(-50%);
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
  }
}

.navigation__button--active svg {
  display: none;
}
