.select .ss-arrow path {
  stroke: $base-white;
  stroke-width: 10px;
}

.select.form__input--modal-select .ss-arrow path {
  stroke: $base-primary;
}

.select .ss-arrow {
  transform: scaleX(1.4);
  opacity: 1;
}

.select.form__input {
  border-radius: 8px;
  height: 52px;
  width: calc(100% - 10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 1;

  @media ($tablet-breakpoint) {
    width: 100%;
  }

  &:focus,
  &:hover {
    box-shadow: none;
    border: 1px solid $base-white;
  }
}

.select.form__input.form__input--modal-select {
  border-color: rgba(72, 72, 72, 0.3);

  &:focus,
  &:hover {
    box-shadow: none;
    border: 1px solid $base-primary;
  }
}

.select.form__input.invalid {
  background: rgba(255, 94, 102, 0.2);
  border: 1px solid #ff5e66;
}

.select.form__input ~ .ss-content {
  position: absolute;
  width: calc(100% - 10px);
  top: 90px;
  height: max-content;
  border-radius: 8px;
  background-color: $base-white;
  padding: 0;

  @media ($tablet-breakpoint) {
    width: 100%;
  }
}

.select-option.ss-selected {
  color: $base-white;
  background-color: $base-secondary;

  &:hover {
    color: $base-primary;
    background-color: $base-secondary;
  }
}

.select[aria-activedescendant] {
  border: 1px solid $base-white;
}

.select-option {
  padding: 17px 20px;
  color: $base-primary;
  background-color: $base-white;

  cursor: pointer;

  &:hover {
    color: $base-secondary;
    background-color: transparent;
  }

  &:focus,
  &:active {
    background-color: $base-secondary;
    color: $base-white;
  }
}

