.hero {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // justify-content: end;
  width: 100%;

  // min-height: 568px;
  // height: 100%;

  @media ($tablet-breakpoint) {
    // min-height: 1024px;
  }

  @media ($desktop-breakpoint) {
    // min-height: 800px;
  }
}

.hero__navigation-wrapper {
  position: absolute;
  top: 21px;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;

  z-index: 2;

  @media ($tablet-breakpoint) {
    left: 45px;
    top: 30px;
  }

  @media ($desktop-breakpoint) {
    left: 100px;
  }
}


// .hero__nav {
//   left: unset;
//   right: 15px;

//   @media ($tablet-breakpoint) {
//     right: 45px;
//   }

//   @media ($desktop-breakpoint) {
//     right: 100px;
//   }
// }

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
