.hero {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 74px 15px 20px;
  min-height: 568px;
  height: 100%;

  @media ($tablet-breakpoint) {
    padding: 86px 45px 60px;

    min-height: 1024px;
  }

  @media ($desktop-breakpoint) {
    padding: 86px 100px 60px;

    min-height: 800px;
  }
}

.hero__logo,
.hero__nav {
  position: absolute;
  top: 21px;

  @media ($tablet-breakpoint) {
    top: 30px;
  }
}

.hero__nav {
  left: unset;
  right: 15px;

  @media ($tablet-breakpoint) {
    right: 45px;
  }

  @media ($desktop-breakpoint) {
    right: 100px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
