.navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  align-items: end;
  padding: 0 15px;

  // &:hover {
  //   width: 100%;
  // }
}

.navigation__list {
  box-sizing: border-box;
  display: flex;

  // display: none;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 35px 25px;

  gap: 28px;
  list-style: none;
  color: $base-white;
  background-color: $base-secondary;

  border-radius: 16px;
}


.navigation__button .button__description {
  font-size: 14px;
}

.navigation__button .button__wrapper {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}

.navigation__link {
  text-decoration: none;
  color: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  opacity: 0.7;
}

.navigation__button {
  box-sizing: border-box;
  padding: 3px 4px 3px 20px;
  gap: unset;
  background-color: $base-white;


  width: 134px;
  justify-content: space-between;

  @media ($tablet-breakpoint) {
    padding: 4px 4px 4px 20px;
  }

  &:hover {
    transition: width 300ms;

    width: 100%;


    .button__wrapper {
      color: $base-secondary;

      transform: rotate(0);
    }
  }
}
