.about {
  justify-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 15px;
  width: 100%;
  max-width: $desktop;

  @media ($tablet-breakpoint) {
    padding: 50px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px 100px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about__title {
  @media ($desktop-breakpoint) {
    padding: 10px 0;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media ($tablet-breakpoint) {
    gap: 30px;
  }

  @media ($desktop-breakpoint) {
    width: 702px;
    gap: 20px;
  }
}

.about__container p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 137%;

  @media ($tablet-breakpoint) {
    font-size: 20px;
    line-height: 130%;
  }

  @media ($desktop-breakpoint) {
    font-size: 22px;
    line-height: 145%;
  }
}

.about__mission {
  @media ($desktop-breakpoint) {
    flex-grow: 1;
    width: 30%;
  }
}

.about__list.advanages {
  @media ($tablet-breakpoint) {
    margin-top: 20px;
  }

  @media ($desktop-breakpoint) {
    margin-top: 21px;

    width: 100%;
  }
}
