.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation__link {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;

  padding: 10px;
  margin: -10px;

  color: inherit;
  text-decoration: none;

  @media ($tablet-breakpoint) {
    font-size: 16px;
    line-height: 125%;
  }

  @media ($desktop-breakpoint) {
    line-height: 106%;
  }
}
