.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media ($tablet-breakpoint) {
    column-gap: 15px;
  }
}

// .footer-navigation__list-item {
//   @media ($tablet-breakpoint) {
//     height: 20px;
//   }
// }

.footer-navigation__link {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;

  padding: 10px;
  margin: -10px;

  color: inherit;
  text-decoration: none;

  @media ($tablet-breakpoint) {
    position: relative;
    bottom: -1px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    font-weight: 400;
  }

  @media ($desktop-breakpoint) {
    line-height: 106%;
  }
}
