.programs {
  box-sizing: border-box;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media ($tablet-breakpoint) {
    // ! нижний паддинг
    padding: 50px 45px 112px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  @media ($desktop-breakpoint) {
    // ! нижний паддинг
    padding: 60px 100px 122px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


// !!!!!!!!!!!!! уберешь
.swiper-button {
  display: none;
}


.programs__button {
  background-color: transparent;
  padding-left: 30px;
  gap: 31px;

  @media ($tablet-breakpoint) {
    order: 2;
  }
}

.programs__title {
  display: flex;
  height: 30px;
  align-items: center;

  @media ($tablet-breakpoint) {
    height: 60px;
  }
}

.programs__swiper {
  @media ($tablet-breakpoint) {
    order: 3;

    // !!!
    width: 100%;
  }
}
