.programs {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media ($tablet-breakpoint) {
    padding: 50px 45px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px 100px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


// !!!!!!!!!!!!! уберешь
.swiper-button {
  display: none;
}


.programs__button {
  background-color: transparent;
}

.programs__title {
  display: flex;
  height: 30px;
  align-items: center;
}
