.programs {
  position: relative;

  box-sizing: border-box;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  overflow: hidden;

  @media ($tablet-breakpoint) {
    padding: 50px 45px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 36px;
  }

  @media ($desktop-breakpoint) {
    padding: 60px 100px 70px;
    align-items: center;
    align-self: center;
    max-width: $desktop;
    gap: 40px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__button {
  padding-left: 30px;
  gap: 31px;

  background-color: transparent;

  @media ($tablet-breakpoint) {
    order: 2;
  }
}

.programs__title {
  display: flex;
  height: 30px;
  align-items: center;

  @media ($tablet-breakpoint) {
    width: 50%;
    height: 60px;
  }
}

.programs__swiper {
  overflow: hidden;

  width: 100%;

  @media ($tablet-breakpoint) {
    overflow: unset;

    width: 678px;
    order: 3;
  }

  @media ($desktop-breakpoint) {
    overflow: hidden;

    width: 1240px;
  }
}

.programs__list-item.swiper-slide {
  display: flex;
  justify-content: center;

  @media ($tablet-breakpoint) {
    justify-content: flex-start;
  }
}

.programs__swiper-button {
  position: absolute;
  top: 54px;
  right: 15px;

  @media ($tablet-breakpoint) {
    top: unset;
    bottom: 50px;
    right: 45px;
  }

  @media ($desktop-breakpoint) {
    bottom: 60px;
    right: 100px;
  }
}

.programs__swiper-button.swiper-button-prev {
  right: 45px;

  @media ($tablet-breakpoint) {
    right: 77px;
  }

  @media ($desktop-breakpoint) {
    right: 132px;
  }
}
