.programs-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  height: 400px;
  width: 290px;
  padding: 18px 10px;

  border-radius: 12px;

  @media ($tablet-breakpoint) {
    padding: 10px 20px;
    width: 324px;
    min-height: 420px;
  }
}

.programs-card__wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 30px;

  gap: 18px;
  padding: 18px 18px 15px;
  border-radius: 12px 0 12px 12px;

  background-color: $base-white;
}

.programs-card__wrapper.nebo--tr {
  --nb-r: 12px;
  --nb-w: 100px;
  --nb-h: 18px;

  @media ($tablet-breakpoint) {
    --nb-r: 12px;
    --nb-w: 87px;
    --nb-h: 14px;
  }
}

.programs-card h3 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 112%;

  color: $base-secondary;


  @media ($tablet-breakpoint) {
    font-size: 20px;
    line-height: 70%;
  }

  @media ($desktop-breakpoint) {
    font-size: 24px;
    line-height: 71%;
  }
}

.programs-card p {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 117%;

  @media ($tablet-breakpoint) {
    font-size: 14px;
    line-height: 143%;
    min-width: 202px;
  }

  @media ($desktop-breakpoint) {
    font-size: 14px;
    line-height: 129%;
  }
}

.programs-card picture {
  position: absolute;
  left: 0;
  top: 0;
}

.programs-card__img {
  border-radius: 12px;
}

.programs-card__link {
  grid-row: 2/3;
  grid-column: 2/2;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $base-white;

  background-color: $base-secondary;
  border-radius: 50%;
}
